::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: #000000;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
html,
body,
div,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: linear-gradient(#1c1c1c, #2a2a29);
  color: #efefef;
  font: 18px/24px 'Maven Pro', sans-serif;
  text-shadow: 2px 1px 0 #2a2a29;
  cursor: default;
  overflow-y: auto;
}
body a {
  color: #efefef;
  text-decoration: none;
}
body a:visited {
  color: #efefef;
}
body header,
body section {
  margin: 0 auto;
  padding: 32px;
}
body header {
  text-align: center;
  background: #353535;
}
body header h1,
body header img {
  margin: 10px auto;
  cursor: pointer;
}
body header h1:hover,
body header img:hover {
  opacity: 0.8;
}
body header h1 {
  font: 30px 'Maven Pro', sans-serif;
  text-shadow: 3px 2px 1px #000000;
}
body nav {
  overflow: visible;
  padding: 13.66666667px 32px;
  background: linear-gradient(#000000, #151515);
  border-top: 2px solid;
  border-top-color: #2a2a29;
  box-shadow: 0 2px 4px #303030;
}
body nav div {
  margin: 0 auto;
}
body nav div a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #b6b6b6;
  font-size: 33px;
  padding: 14.66666667px;
  padding-right: 25.33333333px;
  padding-left: 0;
  height: 32px;
  width: 32px;
  margin-right: 16px;
  -moz-transition: 120ms linear color;
  -o-transition: 120ms linear color;
  -webkit-transition: 120ms linear color;
  transition: 120ms linear color;
  -moz-transition-delay: 20ms;
  -o-transition-delay: 20ms;
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}
body nav div a:hover {
  -moz-transition: 100ms linear color;
  -o-transition: 100ms linear color;
  -webkit-transition: 100ms linear color;
  transition: 100ms linear color;
  color: #d5d5d5;
}
body nav div a.connect {
  float: right;
}
body section h2 {
  font-size: 24px;
}
body section h2,
body section h3 {
  color: #609dcf;
  margin-top: 12px;
  margin-bottom: 32px;
}
body section p:last-child {
  margin-bottom: 16px;
}
body section p:not(:last-child) {
  margin-bottom: 32px;
}
body section:last-child {
  margin-bottom: 92px;
}
body section:not(:last-child) {
  padding-bottom: 0;
}
body section#share > img {
  background: #000;
  padding: 32px;
}
body nav > div,
body section {
  max-width: 900px;
}
@media screen and (max-width: 700px) {
  body nav {
    overflow-y: auto;
  }
  body nav div {
    text-align: center;
  }
  body nav div a {
    font-size: 30px;
    margin-right: 10.66666667px;
  }
  body nav div a.connect {
    float: none;
  }
  body nav div .icon-terminal {
    display: none;
  }
}